body {
    font-size: 10pt;
    font-family: 'Segoe UI', Calibri, 'Myriad Pro', Myriad,
                 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Arial Black";
    font-size: 130%;
}

h3 {
    font-size: 80%;
    vertical-align: super;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}

span {
    font-size: 90%;
    color: rgb(210,210,210);
}
